<a href="https://colab.research.google.com/github/LEEHYUNJIN77/python/blob/main/%EA%B3%BC%EC%A0%9C9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

for i in range(0,3,1):
  print(i, "컴퓨터과 3학년 1반")

0 컴퓨터과 3학년 1반
1 컴퓨터과 3학년 1반
2 컴퓨터과 3학년 1반

In [ ]:
for i in [0,1,2,3,4] :
  print(i, "컴퓨터과 3학년 1반")

0 컴퓨터과 3학년 1반
1 컴퓨터과 3학년 1반
2 컴퓨터과 3학년 1반
3 컴퓨터과 3학년 1반
4 컴퓨터과 3학년 1반

In [ ]:
for i in ["봄","여름","가을","겨울"]:
  print(i, "컴퓨터과 3학년 1반")

봄 컴퓨터과 3학년 1반
여름 컴퓨터과 3학년 1반
가을 컴퓨터과 3학년 1반
겨울 컴퓨터과 3학년 1반

In [ ]:
for i in range(1,11,1) :
  print(i, "컴퓨터과")

1 컴퓨터과
2 컴퓨터과
3 컴퓨터과
4 컴퓨터과
5 컴퓨터과
6 컴퓨터과
7 컴퓨터과
8 컴퓨터과
9 컴퓨터과
10 컴퓨터과

In [ ]:
for i in range(2, 6, 1) :
  print(i, end=" ")

2 3 4 5

In [ ]:
result = 1
for i in range(1, 6, 1) :
  result = result * i
print("A B C D E 학생들을 순서대로 세우는 경우의 수", result)

A B C D E 학생들을 순서대로 세우는 경우의 수 120

In [ ]:
sum = 0

for i in range(1, 11, 1) :
  sum = sum + i
print(sum)

55

In [ ]:
odd_sum = 0
for i in range(1001,2001,2) :
  odd_sum = odd_sum + i
print(odd_sum)

750000

In [ ]:
os = 0
for i in range(1000, 2001, 1) :
  if i%2 == 1:
    os = os + i
print(os)

750000

In [ ]:
i, hap = 0, 0
for i in range(500, 1001, 2) :
  hap = hap + i
print("500에서 1000까지의 짝수의 합 :", hap)

500에서 1000까지의 짝수의 합 : 188250

In [ ]:
for i in range (3) :
  for k in range(2) :
    print("난생처음은 쉽습니다. ^^ (i값:", i,", k값:", k,")")

난생처음은 쉽습니다. ^^ (i값: 0 , k값: 0 )
난생처음은 쉽습니다. ^^ (i값: 0 , k값: 1 )
난생처음은 쉽습니다. ^^ (i값: 1 , k값: 0 )
난생처음은 쉽습니다. ^^ (i값: 1 , k값: 1 )
난생처음은 쉽습니다. ^^ (i값: 2 , k값: 0 )
난생처음은 쉽습니다. ^^ (i값: 2 , k값: 1 )

In [ ]:
for i in range(1, 10, 1) :
  for j in range(2, 10, 1) :
   print(j, "X", i, "=", i*j,end = " ")
  print("\n")

2 X 1 = 2 3 X 1 = 3 4 X 1 = 4 5 X 1 = 5 6 X 1 = 6 7 X 1 = 7 8 X 1 = 8 9 X 1 = 9

2 X 2 = 4 3 X 2 = 6 4 X 2 = 8 5 X 2 = 10 6 X 2 = 12 7 X 2 = 14 8 X 2 = 16 9 X 2 = 18

2 X 3 = 6 3 X 3 = 9 4 X 3 = 12 5 X 3 = 15 6 X 3 = 18 7 X 3 = 21 8 X 3 = 24 9 X 3 = 27

2 X 4 = 8 3 X 4 = 12 4 X 4 = 16 5 X 4 = 20 6 X 4 = 24 7 X 4 = 28 8 X 4 = 32 9 X 4 = 36

2 X 5 = 10 3 X 5 = 15 4 X 5 = 20 5 X 5 = 25 6 X 5 = 30 7 X 5 = 35 8 X 5 = 40 9 X 5 = 45

2 X 6 = 12 3 X 6 = 18 4 X 6 = 24 5 X 6 = 30 6 X 6 = 36 7 X 6 = 42 8 X 6 = 48 9 X 6 = 54

2 X 7 = 14 3 X 7 = 21 4 X 7 = 28 5 X 7 = 35 6 X 7 = 42 7 X 7 = 49 8 X 7 = 56 9 X 7 = 63

2 X 8 = 16 3 X 8 = 24 4 X 8 = 32 5 X 8 = 40 6 X 8 = 48 7 X 8 = 56 8 X 8 = 64 9 X 8 = 72

2 X 9 = 18 3 X 9 = 27 4 X 9 = 36 5 X 9 = 45 6 X 9 = 54 7 X 9 = 63 8 X 9 = 72 9 X 9 = 81

In [ ]:
i=0
while(i<3) :
  print(i, "컴퓨터과 3학년 1반")
  i = i + 1

0 컴퓨터과 3학년 1반
1 컴퓨터과 3학년 1반
2 컴퓨터과 3학년 1반

In [ ]:
i = 0
while True :
  print("ㅎ", end=" ")
  i = i + 1
  if i == 10 :
   break

ㅎ ㅎ ㅎ ㅎ ㅎ ㅎ ㅎ ㅎ ㅎ ㅎ

In [ ]:
8def menu() :
 print("################")
 print("# 1. 덧셈      #")
 print("# 2. 뺄셈      #")
 print("# 3. 나눗셈    #")
 print("# 4. 곱셈      #")
 print("# 5. 종료      #")

def add() :
  num1 = float(input("첫번째 숫자를 입력 : "))
  num2 = float(input("두번째 숫자를 입력 : "))
  sum = num1 + num2
  return sum

def sub() :
  num1 = float(input("첫번째 숫자를 입력 : "))
  num2 = float(input("두번째 숫자를 입력 : "))
  mine = num1 - num2
  return mine

def na() :
  num1 = float(input("첫번째 숫자를 입력 : "))
  num2 = float(input("두번째 숫자를 입력 : "))
  nu = num1 / num2
  return nu

def go() :
  num1 = float(input("첫번째 숫자를 입력 : "))
  num2 = float(input("두번째 숫자를 입력 : "))
  bo = num1 * num2
  return bo

while True :
  menu()
  select = int(input("메뉴를 선택 : "))
  if select == 5 :
   break
  elif select == 1:
   sum = add()
   print("두수의 덧셈 결과 : ", sum)
  elif select == 2:
   mine = sub()
   print("두수의 뺼샘 결과 : ", mine)
  elif select == 3:
   nu = na()
   print("두수를 나눈 결과 : ", nu)
  elif select == 4:
   bo = go()
   print("두수를 곱한 결과 : ", bo)

################
# 1. 덧셈      #
# 2. 뺄셈      #
# 3. 나눗셈    #
# 4. 곱셈      #
# 5. 종료      #
메뉴를 선택 : 2
첫번째 숫자를 입력 : 5
두번째 숫자를 입력 : 6
두수의 뺼샘 결과 :  -1.0
################
# 1. 덧셈      #
# 2. 뺄셈      #
# 3. 나눗셈    #
# 4. 곱셈      #
# 5. 종료      #
메뉴를 선택 :

ValueError: ignored